<main id="posts" class="flex flex-col h-full">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= link_to post do %>
        <%= render post %>
      <% end %>
    <% end %>
  <% else %>
    <div class="bg-gray-100 flex-grow">
      <h3 class="text-center w-full mt-20">No posts yet!</h3>
    </div>
  <% end %>
</main>
